In [1]:
# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].

# Ans: 



years_list = [i for i in range(1997,1997+6)]
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

In [2]:
# Q. In which year in years_list was your third birthday? Remember, you were 0 years of age for your

# Ans: 
    
years_list[3]

2000

In [3]:
# Q.In the years list, which year were you the oldest?

# Ans: 


max(years_list)

2002

In [4]:
# Q. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.

# Ans:



things = list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

In [5]:
# Q. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

# Ans: 


for i in things:
    print(i.capitalize())
things
#Capitalize() will not update the list original values.

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

In [6]:
# Q. Make a surprise list with the elements "Groucho", "Chico", and "Harpo"

# Ans: 


surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

In [8]:
# Q. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

# Ans: 


surprise_list[-1].lower()

'harpo'

In [9]:
surprise_list[-1][::-1]

'opraH'

In [10]:
surprise_list[-1][::-1].upper()

'OPRAH'

In [14]:
# Q. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

# Ans:


e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [16]:
# Q. Write the French word for walrus in your three-word dictionary e2f

# Ans: 

e2f['walrus']

'morse'

In [17]:
# Q. Make a French-to-English dictionary called f2e from e2f. Use the items method

# Ans: 
    

f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [18]:
# Q. Print the English version of the French word chien using f2e.

# Ans: 


f2e['chien']

'dog'

In [19]:
# Q. Make and print a set of English words from the keys in e2f.

# Ans: 

e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [20]:
# Q. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 
# 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 
# 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys 
# refer to empty dictionaries.

# Ans: 
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [21]:
# Q. Print the top-level keys of life.

# Ans: 

life.keys()

dict_keys(['animals', 'plants', 'other'])

In [ ]:
# Q. Print the keys for life['animals'].

# Ans: 
    
life['animals'].keys()

In [22]:
# Q. Print the values for life['animals']['cat']

# Ans: 
    

life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']