In [ ]:
# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

# Ans: 

# 'hello' : String
# -87.8: Integer(Float)
 # -: Expressions
 # /: mathematical operators.
 # +: mathematical operators.
 # 6: Integer

In [ ]:
# 2. What is the difference between string and variable?

# Ans 1: A Variable is a store of information, and a String is a type of information you would store in a Variable. A String is usually words, enclosed with ""

# 2: Variables are symbols that you can use to store data in a program. You can think of them as an empty box that you fill with some data or value. 
# Strings are data, so we can use them to fill up a variable.

In [ ]:
# 3. Describe three different data types.

# Ans: 
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Boolean Type:	bool

In [ ]:
# 4.1: What is an expression made up of? What do all expressions do?

# Ans: 
# An expression is made up of values, variables, operators, and calls to functions. They represent something, like a number, a string, or an instance of a class.
# Any value is an expression!
# 4.2: Expressions are interpreted to produce some other value.

In [ ]:
# 5: What is the difference between an expression and a statement?

# Ans: If you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.

# Here are some examples of expressions: (2 + 2), (3 * 7), (max(3, 94)): All of them can be printed or assigned to a variable.

# Here are some examples of statements: (if CONDITION:), (elif CONDITION:), (else:)

In [6]:
# 6: After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

# Ans: 23

bacon = 22
bacon + 1

23

In [ ]:
# 7. What should the values of the following two terms be?
# 'spam' + 'spamspam' : 
# 'spam' * 3

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' * 3

'spamspamspam'

In [1]:
# 8. Why is eggs a valid variable name while 100 is invalid?

# Ans: Eggs a valid variable it is starting with a character which is valid and 100 is invalid because a variable name cannot begin with a number.

In [ ]:
# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# Ans: The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [4]:
# 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'


# Ans: Because here the datatype of 99 is int and we need it to be a str(string) so that it can concatenate. 
# To fix it we must convert the int datatype to str datatype by putting ""

In [5]:
'I have eaten ' + "99" + ' burritos.' # <<<<< Solution

'I have eaten 99 burritos.'